<div class="banner" style="background-image: url('<%= image_path 'mybar.jpg' %>');">
  <div class="banner-content">
    <h1 >My Bar</h1>
    <p id="add-cocktail">Create Amazing Cocktails</p>


<div id="myModal" class="modal">


  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render 'form' %>
  </div>

</div>
  </div>
</div>
<div class="container">
  <div class="row"><h1 class="title-main">All Cocktails</h1></div>

  <div class="row"><h3><%=link_to "List of All Ingredients", ingredients_path, class: "btn-clear" %>     <%= link_to "Add A Cocktail", new_cocktail_path, class: "btn-clear" %></h3></div>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.present? %>
      <div class="card col-xs-12 col-sm-3" style="background-image: url(<%= cl_image_path cocktail.photo %>); width: 200px; height:300px;">
      <%= link_to cocktail_path(cocktail) do %>

          <div class="card-drink-row"><h2 class="card-drink-name"><%= cocktail.name %></h2></div>
      </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>



