<div class="wrapper large-card">
    <div class="container">
      <div class="larg-card">
      <div class="row drink-title "><h1 id="card-title"><%= @cocktail.name %></h1></div>
      <div class="row large-card-description">
        <div class="column image-large-card">
          <%= image_tag @cocktail.url, height: 500 %>
        </div>
        <div class="large-card-ingredients">
          <% @doses.each do |dose| %>
          <ul>
            <li class="large-card-ingredients">
              <p><%= dose.ingredient.name %>: <%= dose.description %> <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
                <i class="fas fa-trash"></i>
                  <% end %></p>  </li>
          </ul>
          <% end %>
          <ul>
            <%= render 'doses/form', cocktail: @cocktail, dose: @dose, ingredients: @ingredients %>

          </ul>
        </div></div></div>
    </div>
    <hr>
    <%= link_to "Back to All Drinks", cocktails_path, class: "btn-clear" %>
  </div>
</div>
